#canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 94vh;
}

#canvas {
  height: 520px;
  width: fit-content;
  margin: 50px;
  align-items: flex-end;
}

.bar {
  width: 35px;
  background-color: #15c75f;
  margin: 2px;
}

.selected {
  background-color: #efcaca !important;
  color: white;
  border-radius: 5px;
}

@media (width < 460px) {
  .bar {
    width: 3px;
    margin: 0px;
  }
  #canvas {
    height: 460px;
    margin: -6px;
    margin-left: 47px;
    width: 303px;
  }
  .gap-3 {
    gap: 0rem;
  }
  .btn {
    font-size: 10px;
  }
  .p-4 {
    padding: 0px;
  }
  #canvas-container {
    width: 300px;
  }
}

@media (min-width: 461px) and (max-width: 643px) {
  .bar {
    width: 8px;
    margin: 0px;
  }
  #canvas {
    height: 480px;
  }
  .gap-3 {
    gap: 2px;
  }
  .btn {
    font-size: 10px;
  }
  .p-4 {
    padding: 0px;
  }
  #canvas-container {
    width: 530px;
  }
}

@media (min-width: 646px) and (max-width: 996px) {
  .bar {
    width: 15px;
    margin: 0px;
  }
  #canvas {
    height: 480px;
  }
  .gap-3 {
    gap: 7px;
  }
  .btn {
    font-size: 10px;
  }
  .p-4 {
    padding: -5px;
  }
}
